*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
~*.xlsx
.DS_Store
target/
.idea/
*.iml
.classpath
.project
.settings
.rakeTasks
*~
vendor/
Gemfile.lock
*.pid
logFile.*
application.yml
*.DS_store
.metadata
.settings/*
/*/target/*
/target/
*.log
*.log.gz
*.patch
dependency-reduced-pom.xml
*.box
.vagrant/
